<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml"
      xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta property="fb:admins" content="sangman.kim"/>
   <title>bicycling and juggling - {{ page.title }}</title>
   <meta name="og:title" content="{{ page.title }}" />
   <meta name="og:author" content="Sangman Kim" />
   <meta property="og:type" content="article"/>
   <meta property="og:url" content="http://sangmank.github.com{{ page.url }}"/>
   <meta property="fb:admins" content="1487864903"/>
   <meta property="og:app_id" content="209097735787825"/>
   <meta property="og:site_name" content="bicycling and juggling"/>
   <link href="http://cs.utexas.edu/~sangmank" rel="alternate" title="Sangman Kim's homepage...." type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen,
   projection" />

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=209097735787825";
  fjs.parentNode.insertBefore(js, fjs);
}(document, "script", "facebook-jssdk"));</script>

<div class="site">
  <div class="title">
    <a href="/">Sangman Kim</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Sangman Kim
      </p>
    </div>
  </div>
</div>

</body>
</html>
